@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Fira sans font Style */
.work-sans-normal {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  /* Nav Style */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav .nav-header {
    font-size: 32px;
    font-weight: bold;
}
.nav-btn {
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    cursor: pointer;
}

/* Banner Style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    background-color: #b5fddd;
    gap: 10px;
    padding: 80px 0;
    border-radius: 24px;
}
.banner .banner-intro {
    padding: 50px 60px;
}
.banner .banner-name{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner > .banner-intro > .banner-desc{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 24px;
}
.banner-image {
    margin-right: 50px;
}

/* Button Hover and Active Style */
.btn-first-hover:hover {
    color: black;
    background-color: white;
    box-shadow: 5px 10px 8px 10px gray;
}
.btn-first-hover:active {
    color: red;
    background-color: gray;
    box-shadow: 5px 10px 8px 10px rgba(56, 56, 56, 0.979);
}

/* Shared Style */
.font-color-0E0E0E {
    color: rgba(14, 14, 14, 0.5);
}
.center-item {
    text-align: center;
}
.primary-btn {
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
/* primary header */
.primary-header {
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
/* primary desc */
 .primary-desc {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
 }

/* The Vision of future style */
.vision-cards {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 24px;
    margin-bottom: 80px;
}
/* card style */
.card-model {
    padding: 32px;
    border-radius: 16px;
}
.first-card {
    background-color: rgba(84, 144, 245, 0.2);
}
.first-card > button {
    color: blue;
    background-color: aquamarine;
}
.first-card > button:hover{
    color: rgb(248, 240, 240);
    background-color: rgb(16, 49, 87);
    box-shadow: 5px 10px 8px 10px rgb(128, 128, 128);
}
.first-card > button:active {
    color: rgb(185, 98, 98);
    background-color: rgba(192, 26, 26, 0.425);
    box-shadow: 5px 10px 8px 10px rgba(61, 173, 201, 0.329);

}
.second-card{
    background-color: rgba(9, 161, 92, 1);
}
.second-card > button {
    background-color: black;
    color: white;
}
.second-card > button:hover {
    color: black;
    background-color: white;
    box-shadow: 5px 10px 8px 10px rgba(43, 38, 38, 0.685);
}
.third-card {
    background-color: rgba(247, 196, 79, 0.774);
}
.third-card > button:hover {
    color: red;
    background-color: gray;
    box-shadow: 5px 10px 8px 10px rgba(56, 56, 56, 0.979);

}
.third-card > button:active {
    color: rgb(110, 26, 68);
    background-color: white;
    box-shadow: 5px 10px 8px 10px gray;
}

.quote-section {
    background-color: aliceblue;
    border-radius: 16px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-origin: content-box;
    padding: 24px;
    border: 0.5px solid rgba(14, 14, 14, 0.041);
    margin-bottom: 80px;
}
.padding {
    background-repeat: no-repeat;
}
.quet-para {
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.6);
}

/* Recent News Section */
.news-class {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    background-color: aliceblue;
    border-radius: 24px;
    padding: 48px;
    margin-bottom: 24px;
}

.news-class img {
    border-radius: 24px;
}

/* News Button Style */
.first-news-btn {
    padding: 13px 26px;
    background-color: rgb(93, 99, 175);
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.first-news-btn:hover{
    color: rgb(217, 255, 0);
    background-color: rgb(128, 128, 128);
    box-shadow: 5px 10px 8px 10px rgba(104, 47, 47, 0.979);
}
.first-news-btn:active {
    color: rgb(255, 0, 34);
    background-color: rgb(37, 16, 16);
    box-shadow: 5px 10px 8px 10px rgba(253, 201, 201, 0.979);
}
.second-news-btn {
    padding: 13px 26px;
    background-color: rgb(116, 175, 93);
    color: rgb(7, 5, 5);
    border-style: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.second-news-btn:hover {
    color: rgb(3, 2, 5);
    background-color: rgb(40, 33, 126);
    box-shadow: 5px 10px 8px 10px rgba(138, 195, 228, 0.979);
}
.second-news-btn:active {
    color: rgb(255, 0, 34);
    background-color: rgb(37, 16, 16);
    box-shadow: 5px 10px 8px 10px rgba(253, 201, 201, 0.979);
}


/* Donate Section Style */


.donate {
    display: flex;
    justify-content: space-around;
    margin: 32px 0;
}

.amount {
    padding: 17px 34px;
    background-color: rgba(0, 106, 80, 1);
    color: white;
    border-style: none;
    cursor: pointer;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
.one:hover {
    color: rgb(6, 3, 7);
    background-color: rgb(1, 105, 224);
    box-shadow: 5px 10px 8px 10px rgba(12, 4, 4, 0.788);
    border-radius: 16px;
}
.one:active{
    color: rgb(8, 1, 14);
    background-color: rgb(116, 84, 204);
    box-shadow: 5px 10px 8px 10px rgba(120, 99, 240, 0.979);
}
.two:hover {
    color: rgb(8, 1, 14);
    background-color: rgb(108, 55, 255);
    box-shadow: 5px 10px 8px 10px rgba(240, 99, 181, 0.979);
    border-radius: 16px;
}
.two {
    background-color: aqua;
}
.two:active {
    color: rgb(0, 0, 0);
    background-color: rgb(183, 228, 220);
    box-shadow: 5px 10px 8px 10px rgba(66, 160, 147, 0.979);
    border-radius: 16px;
}

.five {
    background-color: cadetblue;
    border-radius: 16px;

}
.five:hover {
    color: rgba(1, 255, 86, 0.952);
    background-color: rgb(177, 190, 228);
    box-shadow: 5px 10px 8px 10px rgba(134, 226, 214, 0.979);
    border-radius: 16px;
}
.five:active {
    color: rgba(180, 47, 151, 0.952);
    background-color: rgb(228, 177, 225);
    box-shadow: 5px 10px 8px 10px rgba(226, 158, 215, 0.979);
    border-radius: 16px;
}
.ten {
    background-color: bisque;
    border-radius: 16px;
}
.ten:hover {
    color: rgba(122, 223, 135, 0.952);
    background-color: rgb(250, 12, 234);
    box-shadow: 5px 10px 8px 10px rgba(221, 90, 199, 0.979);
    border-radius: 16px;
}
.ten:active {
    color: rgba(0, 255, 34, 0.952);
    background-color: rgba(112, 83, 110, 0.774);
    box-shadow: 5px 10px 8px 10px rgba(255, 0, 212, 0.979);
    border-radius: 16px;
}
#first-input {
    padding: 20px;
    width: 800px;
    margin: 10px auto;
    border: none;
    border-radius: 0;
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    background-color: antiquewhite;
    font-size: 20px;
    font-weight: 400;
}
.input-section {
    text-align: center;
}
.donate-btn {
    padding: 17px 34px;
    border-radius: 8px;
    background-color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}
.donate-btn:hover {
    color: rgb(8, 1, 14);
    background-color: rgb(116, 84, 204);
    box-shadow: 5px 10px 8px 10px rgba(120, 99, 240, 0.979);
}
.donate-btn:active{
    color: rgb(255, 0, 34);
    background-color: rgb(37, 16, 16);
    box-shadow: 5px 10px 8px 10px rgba(253, 201, 201, 0.979);
}

/* News Letter Section Style */
#second-input::placeholder {
    color: rgba(14, 14, 14, 0.3);
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
}
#second-input {
    border: none;
    padding: 18px 40px;
    width: 600px;
    font-size: 16px;
    font-weight: 400;
}
.subscribe button{
    padding: 17px 34px;
    background-color: rgb(5, 230, 5);
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.newsletter-section{
    background-color: rgba(10, 228, 173, 0.699);
    border-radius: 24px;
    padding: 80px 265px;
    margin-top: 80px;
}